@font-face {
    font-family: 'ChosunSm';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunSm/ChosunSm.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunSm/ChosunSm.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunSm/ChosunSm.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunSm/ChosunSm.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunSm/ChosunSm.ttf') format("truetype");
    font-display: swap;
}